<div class="tickerContainer">
	<div class="ticker">
		<div class="banner_text">
			<span>
				<a href="">Apply now</a>
			</span>
			<span>
				<p>Deadline 24.06</p>
			</span>

			<span>
				<a href="">Apply now</a>
			</span>

			<span>
				<p>Deadline 24.06</p>
			</span>

			<span>
				<a href="">Apply now</a>
			</span>

			<span>
				<p>Deadline 24.06</p>
			</span>

			<span>
				<a href="">Apply now</a>
			</span>

			<span>
				<p>Deadline 24.06</p>
			</span>

			<span>
				<a href="">Apply now</a>
			</span>

			<span>
				<p>Deadline 24.06</p>
			</span>



		</div>
	</div>
</div>
