<footer class="footer__links">
	<ul>
		<li><a href="/" class="link__item">Home</a></li>
		<li><a href="/{{('festival-details')}}" class="link__item">Festival details</a></li>
		<li><a href="/{{('participation')}}" class="link__item">Participation</a></li>
		<li><a href="/{{('films')}}" class="link__item">Film Archive</a></li>

	</ul>
</footer>

