<nav class="footer__links">
	<ul>
		<li><a href="/" class="footer_link__item">Home</a></li>
		<li><a href="/{{('festival-details')}}" class="footer_link__item">Festival details</a></li>
		<li><a href="/{{('participation')}}" class="footer_link__item">Participation</a></li>
		<li><a href="/{{('film-archive')}}" class="footer_link__item">Film Archive</a></li>

	</ul>
</nav>
