<nav>
	<ul class="nav__links">
		<li class="nav__logo"><a href="/" class="nav_link__logo"></a></li>
		<li><a href="/{{('festival-details')}}" class="nav_link__item">Festival details</a></li>
		<li><a href="/{{('participation')}}" class="nav_link__item">Participation</a></li>
		<li><a href="/{{('film-archive')}}" class="nav_link__item">Film Archive</a></li>
		<li>Eng</li>
		<li>Apply now</li>


	</ul>
</nav>
