<nav class="nav__wrapper">
	<div class="container__nav">
		<ul class="nav__links">
			<li>
				<a href="/" class="nav_link__logo"></a>
			</li>
			<div class="nav_options">
				<li>
					<a href="/{{('festival-details')}}" class="nav_link__detail">Festival details</a>
				</li>
				<li>
					<a href="/{{('participation')}}" class="nav_link__participate">Participation</a>
				</li>
				<li>
					<a href="/{{('film-archive')}}" class="nav_link__archive">Film Archive</a>
				</li>
				<li class="nav_item__language">Eng</li>
				<li>
					<a href="/{{('apply')}}" class="nav_link__apply">Apply now</a>

				</li>
			</div>
		</ul>
	</div>
</nav>
