<nav class="nav__links">
	<ul>
		<li><a href="/" class="link__item">Home</a></li>
		<li><a href="/{{('about')}}" class="link__item">Festival details</a></li>
		<li><a href="/{{('participate')}}" class="link__item">Participation</a></li>
		<li><a href="/{{('films')}}" class="link__item">Film Archive</a></li>


	</ul>
</nav>
