<nav class="nav__links">
  <ul>
    <li><a href="/" class="link__item">Home</a></li>
    <li><a href="/{{('about')}}" class="link__item">About Us</a></li>
    <li><a href="/{{('films')}}" class="link__item">Film Archives</a></li>
    <li><a href="/{{('participate')}}" class="link__item">How to participate</a></li>
  </ul>
</nav>