<nav class="nav__links">
  <ul>
    <li><a href="/" class="link__item">Home</a></li>
    <li><a href="{{url('about') }}" class="link__item">About Us</a></li>
     <li><a href="{{url('films') }}" class="link__item">Film Archives</a></li>
  </ul>
</nav>