{% extends "_/layouts/base" %}


{% block content %}
<section class="container__form">
	<div class="form__left">
	<h1 class="form__title">Apply for<br><span class="purple">your spot</span> now</h1>
	<img
			class="img__left--title" src="{{ siteUrl }}public/1-title.svg" width="648.2" height="176" alt="Visualise your voice">
			{#  do it differently? #}
	</div>
	<div class="form">
	{% include "_/components/contact-form.twig" %}
	</div>
</section>
{% endblock %}
