{% extends "_/layouts/base" %}


{% block content %}
<section class="container__form form__bleed">
	<div class="form__left">
		<h1 class="form__title">Apply for<br><span class="purple">your spot</span> now</h1>
		<img class="form__img" src="/public/form-eye.svg" width="210" height="180" alt="Illustration of smiling logo">
	</div>
	<div class="form">
	{% include "_/components/contact-form.twig" %}
	</div>
</section>
{% endblock %}
