{% extends "_/layouts/base" %}

{% block content %}
	<h1>Kortkijk Film Festival</h1>
	<p>
		{{ entry.paragraph}}
	</p>
	<section class="container__countdown">
			{% include "_/components/countdown.twig" %}
	</section>
	<section class="container__archive">
		<h2>Kortkijk Archive</h2>
		<a href="/{{('films') }}" class="btn__archive">Show all films</a>
	{% include "_/components/film-card.twig" with { limit: 3 }%}
	</section>
{% endblock %}
