<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<title>Korterdam Film Festival</title>
		{{ craft.vite.script("src/js/app.js") }}
		<script src="/dist/assets/app-3e02badc.js" defer></script>
		<script src="/dist/assets/app-aef97326.css" defer></script>


	</head>
	<body>
		{% block content %}{% endblock %}
	</body>
</html>
