<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<title>Kortkijk Film Festival</title>
		{{ craft.vite.script("src/js/app.js" ) }}
		{{ craft.vite.script("src/js/activePage.js" ) }}
		{{ craft.vite.script("src/js/gsap.js" ) }}

		{% block head %}{% endblock %}
		<link rel="icon" type="image/x-icon" href="/favicon/logo.png">
	</head>
	<body>
		<header>
			{% include "_/partials/banner.twig" %}
			{% include "_/partials/nav.twig" %}
		</header>

		<main>
			{% block content %}{% endblock %}
		</main>
		<footer>
			{% include "_/partials/footer.twig" %}
		</footer>
		{% set myJsFile = "https://unpkg.com/flickity@2/dist/flickity.pkgd.min.js" %}
		{% do view.registerJsFile(myJsFile) %}

		<script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.12.0/gsap.min.js"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.12.0/ScrollTrigger.min.js"></script>

	</body>
</html>
