.container__carousel {
  position: relative;
  max-width: 1000px;
  margin-right: auto;
  margin-left: auto;
}

.container__carousel + .container__carousel {
  padding-top: 100px;
}

.carousel__header {
  position: relative;
  margin-bottom: 80px;
  text-align: center;
}

.carousel__title {
  font-size: 2.5rem;
  letter-spacing: -1px;
}

.carousel__nav {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.carousel__nav--item {
  appearance: none;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  margin: 0;
  padding: 0;
  vertical-align: middle;
  font: inherit;
  text-align: center;
  text-decoration: none;
  background-color: transparent;
  border: none;
  cursor: pointer;
}

.c-carousel__nav--item circle {
  transition: all ease-in-out 0.2s;
}

.c-carousel__nav--item[disabled] {
  cursor: default;
}

.carousel__nav--item[disabled] circle {
  fill: #eee;
}

.carousel__items {
  position: relative;
}

.carousel__items[data-carousel-items='1'] .carousel__item {
  width: 100%;
}

.carousel__items[data-carousel-items='2'] .carousel__item {
  width: calc((100% - 30px) / 2);
}

.carousel__items[data-carousel-items='3'] .carousel__item {
  width: calc((100% - 40px) / 3);
}

.carousel__items[data-carousel-items='4'] .carousel__item {
  width: calc((100% - 60px) / 4);
}

.carousel__item {
  display: flex;
  margin-right: 20px;
}