@import url(reset.css);

/*
1.Typography
2.Global style
3.Layout
4.Keyframes/animations
5.Media queries
*/

/*=======================================
       1. Typography
=========================================*/

@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap');

@font-face {
  font-family: 'ClashDisplay-Extralight';
  src: url('../fonts/ClashDisplay-Extralight.otf') format('opentype');
  font-display: swap;
  font-style: normal;
}

@font-face {
  font-family: 'ClashDisplay-Light';
  src: url('../fonts/ClashDisplay-Light.otf') format('opentype');
  font-weight: 300;
  font-display: swap;
  font-style: normal;
}

@font-face {
  font-family: 'ClashDisplay-Regular';
  src: url('../fonts/ClashDisplay-Regular.otf') format('opentype');
  font-weight: 400;
  font-display: swap;
  font-style: normal;
}

@font-face {
  font-family: 'ClashDisplay-Medium';
  src: url('../fonts/ClashDisplay-Medium.otf') format('opentype');
  font-weight: 500;
  font-display: swap;
  font-style: normal;
}

@font-face {
  font-family: 'ClashDisplay-Semibold';
  src: url('../fonts/ClashDisplay-Semibold.otf') format('opentype');
  font-display: swap;
  font-style: normal;
}

@font-face {
  font-family: 'ClashDisplay-Bold';
  src: url('../fonts/ClashDisplay-Bold.otf') format('opentype');
  font-weight: 700;
  font-display: swap;
  font-style: normal;
}

/*=======================================
      2. Global Style
=========================================*/
html {
  box-sizing: border-box;
  background-color: var(--color-black);
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  font-family: 'Montserrat', sans-serif, Arial, Helvetica, sans-serif;
  color: var(--color-white);
  overflow-x: hidden;
}

:root {
  --color-white: #fceed2;
  --color-orange: #fb6d33;
  --color-purple: #b759eb;
  --color-black: #221e1f;
  --color-red: #db4132;

  /*create clamp/responsive later*/
  --font-size-h1: 4.375rem; /*70px*/
  --font-size-h2: 3.12rem; /*50px*/
  --font-size-h3: 3rem; /*48px*/

  --font-size-xl: 2.5rem; /*40px*/
  --font-size-l: 1.875rem; /*30px*/
  --font-size-m: 1.5rem; /*24px*/
  --font-size-s: 1.25rem; /*20px*/
  --font-size-body: 1.125rem; /*18px*/

  --border-radius: 0.2rem;
  --border-radius-large: 2rem;

  --ff-clash-regular: 'ClashDisplay-Regular', sans-serif;
  --ff-clash-medium: 'ClashDisplay-Medium', sans-serif;
  --ff-clash-semibold: 'ClashDisplay-Semibold', sans-serif;
  --ff-clash-bold: 'ClashDisplay-Bold', sans-serif;

  --ff-montserrat: 'Montserrat', sans-serif;

  --font-weight-regular: 400;
  --font-weight-medium: 500;
  --font-weight-semibold: 600;
  --font-weight-bold: 700;
}

/*=======================================
       3.  Layout
=========================================*/

/*****+******/

.hidden {
  display: none;
}

.orange {
  color: var(--color-orange);
}

.purple {
  color: var(--color-purple);
}

.red {
  color: var(--color-red);
}

.bold {
  font-weight: bold;
}

.btn {
  border: solid 0.125rem var(--color-black);
  border-radius: var(--border-radius);
  color: var(--color-black);
  padding: 0.6rem 3.5rem;
  cursor: pointer;
  text-decoration: none;
  font-size: 0.875rem;
  background-color: none;
}

.btn--white {
  background-color: var(--color-white);
  color: var(--color-black);
  border: none;
}

/*****+******/

a {
  color: var(--color-white);
}

main {
  margin: 0 auto;
  max-width: 1100px;
}

p {
  line-height: 1.5;
}

h1 {
  font-size: 2rem;
  margin-block-end: 1rem;
  text-transform: uppercase;
  font-family: 'ClashDisplay-Bold', sans-serif;
}

h3 {
  font-size: 1.5rem;
  margin-block-end: 1rem;
  text-transform: uppercase;
  font-family: 'ClashDisplay-SemiBold', sans-serif;
}

footer {
  background-color: var(--color-white);
  display: block;
  padding: 2rem;
}

/*******TOP NAVIGATION*********/

.container_nav {
  padding-left: 2rem;
  padding-right: 2rem;
}

.nav__links {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2rem;
  font-size: 0.8rem;
  text-decoration: none;
  font-weight: 600;
}

.footer_link__item {
  color: var(--color-black);
  text-transform: uppercase;
  text-decoration: none;
}

.nav_link__detail,
.nav_link__participate,
.nav_link__archive {
  color: var(--color-white);
  text-transform: uppercase;
  text-decoration: none;
}

.nav_link__detail:hover,
.nav_link__participate:hover,
.nav_link__archive:hover {
  color: var(--color-red);
  text-decoration: none;
}

/* nav link active state */

.nav_link__detail:is(:link, :active, :visited).active {
  color: var(--color-red);
  text-decoration: none;
}

.nav_link__participate:is(:link, :active, :visited).active {
  color: var(--color-red);
  text-decoration: none;
}

.nav_link__archive:is(:link, :active, :visited).active {
  color: var(--color-red);
  text-decoration: none;
}

/* end */

.nav_link__logo {
  background-image: url('../img/logo.svg');
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  padding: 2rem 6rem;
}

.nav_options {
  display: flex;
  justify-content: right;
  gap: 2rem;
  align-items: center;
}

.nav_item__language {
  border: solid 1px var(--color-white);
  padding-top: 0.8rem;
  padding-bottom: 0.8rem;
  padding-left: 1rem;
  padding-right: 2.5rem;
  border-radius: var(--border-radius-large);
  background-image: url(../img/arrowdown.svg);
  background-repeat: no-repeat;
  background-position: 3.5rem center;
  background-size: 0.9rem;
  text-transform: uppercase;
}

.nav_link__apply {
  background-color: var(--color-white);
  color: var(--color-black);
  border-radius: var(--border-radius-large);
  text-decoration: none;
  text-transform: uppercase;
  background-image: url(../img/longarrow.svg);
  background-repeat: no-repeat;
  background-position: 1rem center;
  background-size: 2rem;
  padding-left: 3.5rem;
  padding-right: 1.5rem;
  padding-top: 0.8rem;
  padding-bottom: 0.8rem;
  justify-content: right;
}

.nav_link__apply:hover {
  background-color: var(--color-red);
  color: var(--color-white);
  text-decoration: none;
  background-image: url(../img/longarrow_white.svg);
  background-repeat: no-repeat;
  background-position: 1rem center;
  background-size: 2rem;
}

/*******BANNER*********/

body {
  margin: 0;
}

.ticker {
  width: 100vw;
  background-image: url('../img/banner.svg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  color: var(--color-black);
  text-align: center;
  overflow: hidden;
  white-space: nowrap;
  padding-top: 0.5rem;
  padding-bottom: 2rem;
  font-weight: 500;
}

.ticker div {
  width: 200%;
  position: absolute;
  overflow: hidden;
  animation: ticker 10s linear infinite;
}

.ticker:hover div {
  animation-play-state: paused;
}

.ticker span {
  float: left;
  font-weight: 600;
  width: 10%;
}

.banner_text {
  display: flex;
  text-transform: lowercase;
  align-items: center;
}

.banner_text a {
  color: var(--color-black);
}

.banner_text a:hover {
  color: var(--color-white);
}

@keyframes ticker {
  0% {
    left: 0%;
  }

  100% {
    left: -80%;
  }
}

/******* HEADER *********/
.header__home {
  height: 60vh; /* give space for event countdown  */
}
.btn__text {
  font-family: var(--ff-clash-regular);
  font-size: var(--font-size-h3);
}

/*******EVENT COUNTDOWN*********/

.container__countdown {
  display: flex;
  justify-content: space-evenly;
  font-family: var(--ff-montserrat);
  font-weight: var(--font-weight-regular);
  color: var(--color-purple);
}

.countdown {
  grid-column: 2/3;
}

.countdown__info {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  gap: 0.5rem;
  color: var(--color-white);
}

.countdown__days,
.countdown__hrs,
.countdown__min,
.countdown__sec {
  text-align: center;
}

.c__days,
.c__hrs,
.c__min,
.c__sec,
.c__colon {
  font-size: 3rem;
  font-weight: var(--font-weight-semibold);
  font-family: var(--ff-clash-semibold);
  color: var(--color-white);
}

/*******CAROUSEL*********/

.carousel {
  width: 100%;
  margin: auto;
  overflow: hidden;
  display: flex;
  flex-direction: row;
  /* background-color: rgb(107, 107, 228); */
  height: auto;
}

.carousel__reel {
  /* background-color: rgb(201, 120, 193); */
  display: flex;
  flex-direction: row;
  width: fit-content;
  margin: 0 auto;
  display: none;
}

.show {
  display: flex;
}

/*Carousel: film-card */
.card {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 20rem;
  height: auto;

  margin-inline: 2rem;
}

.card__image {
  width: 100%;
  height: 230px;
  object-fit: cover;
  border-radius: var(--border-radius) var(--border-radius) 0 0;
}

.card__title {
  margin-block-start: 1rem;
  font-size: 1.125rem;
  font-weight: bold;
  color: var(--color-black);
}

.card__description,
.card__paragraph,
.card__year,
.card__theme {
  margin: 0.625rem 0;
  color: var(--color-black);
}

.card__theme {
  font-size: 0.875rem;
  text-align: right;
}

.card__description {
  font-size: 0.875rem;
}

.card__year {
  font-family: 'ClashDisplay-SemiBold', sans-serif;
  font-size: 3rem;
  text-align: right;
}

.btn__card {
  margin-block-start: 1rem;
  border: solid 2px var(--color-black);
  border-radius: var(--border-radius);
  color: var(--color-black);
  padding: 0.5rem 2.5rem 0.5rem 1rem;
  cursor: pointer;
  text-decoration: none;
  background-image: url('../img/arrow.svg');
  background-repeat: no-repeat;
  background-position: 7rem;
  background-size: 1rem;
  font-size: 0.875rem;
  text-align: right;
}

.detail__card {
  padding: 1rem;
  background-image: url(../img/cardbackground.svg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 0 0 var(--border-radius) var(--border-radius);
}

.detail__card__grid {
  display: flex;
  flex-direction: row;
  gap: 1rem;
  justify-content: space-between;
  align-items: top;
}

.detail__card__line {
  border-left: solid 2px var(--color-black);
  padding-left: 1rem;
}

.btn__card__container {
  display: flex;
  justify-content: end;
}

/*Carousel: nav-btns*/
.carousel__nav {
  display: flex;
  margin-block-end: 1rem;
  padding-inline-end: 1.2rem;
}

.btn__carousel {
  position: relative;
  background-color: var(--color-black);
  color: var(--color-white);
  border-radius: var(--radius-btn);
  padding: 0.5rem 1rem;
  cursor: pointer;
}

.btn__carousel:hover {
  background-color: var(--color-white);
  color: var(--color-black);
}

/*////////////// HOMEPAGE ///////////////*/
/******* Homepage - REQUIREMENTS *********/

/*////////////// FILM ARCHIVE ///////////////*/
/******* Film Archive - REQUIREMENTS *********/

.title-main__archive {
  color: var(--color-red);
  font-size: 2.5rem;
  font-family: 'ClashDisplay-SemiBold', sans-serif;
}

.title-start__archive {
  font-family: 'ClashDisplay-Regular', sans-serif;
  font-size: 2rem;
  margin-block-start: 1rem;
}

.info__archive {
  display: flex;
  gap: 4rem;
  align-items: center;
  margin-bottom: 5rem;
}

.archive__img {
  width: 50%;
}

.description__archive {
  line-height: 1.3;
  font-size: 1rem;
  font-weight: 300;
}

.archive__card {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 20rem;
  height: auto;
  margin-inline: 2rem;
}

.archive__cards__container {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  row-gap: 3rem;
  justify-content: center;
  height: auto;
  margin-top: 5rem;
}

/****** SORT FILMS *******/

.sort__container button {
  border: none;
  background-color: var(--color-black);
  color: var(--color-white);
  padding: 0.5rem 1rem;
  cursor: pointer;
  border: 2px solid var(--color-white);
  border-radius: var(--radius-btn);
  margin-inline: 0.5rem;
}

/****** FILTER FILMS *******/

.archive__card.hidden {
  display: none;
}

.sorter-filter__wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 1rem 0 2rem 0;
}

select {
  padding: 0.5rem;
  border: none;
  border-bottom: solid 2px var(--color-white);
  font-size: 0.875rem;
  text-transform: uppercase;
  font-family: 'montserrat', sans-serif;
  cursor: pointer;
  background-color: var(--color-black);
  color: var(--color-white);
}

.theme__description__container {
  text-align: center;
  margin-top: 5rem;
  max-width: 70%;
  margin-inline: auto;
}

.theme__title {
  font-family: 'ClashDisplay-SemiBold', sans-serif;
  font-size: 1.5rem;
  margin-bottom: 0.5rem;
}

.theme__year {
  font-family: 'ClashDisplay-regular', sans-serif;
  font-size: 1.2rem;
  margin-bottom: 2rem;
}

.theme__description {
  font-weight: 200;
}

/*////////////// FILM DETAIL ///////////////*/

/** detailpage - images **/
.detailpage__album {
  display: flex;
  flex-direction: column;
}

.album__title {
  display: flex;
  justify-content: center;
  font-family: var(--ff-clash-medium);
  font-weight: var(--font-weight-medium);
  font-size: var(--font-size-l);
}

.line {
  background-color: var(--color-white);
  height: 0.09rem;
}
/* 
.album__images {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 1rem;
  justify-content: center;
  padding:1rem 0rem 5rem; 
} */
.album__images {
  display: flex;
  flex-wrap: wrap;
  gap: 0.8rem;
  padding: 1rem 0rem 5rem;
}

.crew__img {
  flex: 10%; /* Adjust the value as needed to determine the width of each image container */
  /* padding: 1rem 0.5rem; */
  width: 100%;
  height: auto;
  border-radius: 4px;
}

.back-button {
  margin: 2.9rem 0rem;
  color: var(--color-white);
  border: solid 0.1rem var(--color-white);
}

/** detailpage - film-information **/
.container__detailpage {
  padding-block-start: 2rem;
  width: 100%;
}
.detailpage__header {
  display: flex;
  margin-block-start: 4.9rem;
}

.header__img--detail {
  width: 55%;
  height: auto;
  /* padding-inline-end: 1rem; */
  margin-inline-end: 1rem;
  border-radius: var(--border-radius);
}

.header__info--detail {
  width: 45%;
  height: auto;
  background-color: var(--color-white);
  color: var(--color-black);
  border-radius: var(--border-radius);
  padding: 3.5rem;
  background: var(--color-white) url(../img/cardbackground.svg) no-repeat center;
  background-size: cover;
}

.detail__title {
  font-family: var(--ff-clash-medium);
  font-weight: var(--font-weight-medium);
  font-size: var(--font-size-l);
  margin-block-end: 1rem;
  line-height: 3rem;
}

.detail__details {
  display: flex;
  justify-content: space-between;
  font-weight: var(--font-weight-medium);
}

.detail__paragraph {
  padding-block-start: 1rem;
  font-size: 16px;
}

.detailpage__crew {
  padding: 2rem 0rem;
}

.crew__title {
  font-family: var(--ff-clash-medium);
  font-weight: var(--font-weight-medium);
  font-size: var(--font-size-m)
}

.crew__container {
  display: flex;
  flex-wrap: wrap;
  width: 65%;
  gap: 1rem;
  padding: 0.5rem 0rem 5rem;
}
