@import url(reset.css);

/*
1.Typography
2.Global style
3.Layout
4.Keyframes/animations
5.Media queries
*/

/*=======================================
       1. Typography
=========================================*/

@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap');

@font-face {
  font-family: 'ClashDisplay-Extralight';
  src: url('../fonts/ClashDisplay-Extralight.otf') format('opentype');
  font-display: swap;
  font-style: normal;
}

@font-face {
  font-family: 'ClashDisplay-Light';
  src: url('../fonts/ClashDisplay-Light.otf') format('opentype');
  font-weight: 300;
  font-display: swap;
  font-style: normal;
}

@font-face {
  font-family: 'ClashDisplay-Regular';
  src: url('../fonts/ClashDisplay-Regular.otf') format('opentype');
  font-weight: 400;
  font-display: swap;
  font-style: normal;
}

@font-face {
  font-family: 'ClashDisplay-Medium';
  src: url('../fonts/ClashDisplay-Medium.otf') format('opentype');
  font-weight: 500;
  font-display: swap;
  font-style: normal;
}

@font-face {
  font-family: 'ClashDisplay-Semibold';
  src: url('../fonts/ClashDisplay-Semibold.otf') format('opentype');
  font-display: swap;
  font-style: normal;
}

@font-face {
  font-family: 'ClashDisplay-Bold';
  src: url('../fonts/ClashDisplay-Bold.otf') format('opentype');
  font-weight: 700;
  font-display: swap;
  font-style: normal;
}

/*=======================================
      2. Global Style
=========================================*/
html {
  box-sizing: border-box;
  background-color: var(--color-black);
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  font-family: 'Montserrat', sans-serif, Arial, Helvetica, sans-serif;
  color: var(--color-white);
  overflow-x: hidden;
}

:root {
  --color-white: #fceed2;
  --color-orange: #fb6d33;
  --color-purple: #b759eb;
  --color-black: #221e1f;
  --color-red: #db4132;

  --font-size-h1: 4.375rem;
  /*70px - create clamp/responsive later*/

  --border-radius: 0.2rem;
  --border-radius-large: 2rem;
  /*adjust rem later*/
}

/*=======================================
       3.  Layout
=========================================*/

/*****+******/
.orange {
  color: var(--color-orange);
}
.purple {
  color: var(--color-purple);
}

.bold {
  font-weight: bold;
}
.btn--white {
  background-color: var(--color-white);
  color: var(--color-black);
}
/*****+******/

a {
  color: var(--color-white);
}

main {
  margin: 0 auto;
  max-width: 1200px;
}

h1 {
  font-size: 2rem;
  margin-block-end: 1rem;
  text-transform: uppercase;
  font-family: 'ClashDisplay-Bold', sans-serif;
}

h3 {
  font-size: 1.5rem;
  margin-block-end: 1rem;
  text-transform: uppercase;
  font-family: 'ClashDisplay-SemiBold', sans-serif;
}

footer {
  background-color: var(--color-white);
  display: block;
  padding: 2rem;
}

/*******TOP NAVIGATION*********/

.container_nav {
  padding-left: 2rem;
  padding-right: 2rem;
}

.nav__links {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2rem;
  font-size: 0.8rem;
  text-decoration: none;
  font-weight: 600;
}

.footer_link__item {
  color: var(--color-black);
  text-transform: uppercase;
  text-decoration: none;
}

.nav_link__detail,
.nav_link__participate,
.nav_link__archive {
  color: var(--color-white);
  text-transform: uppercase;
  text-decoration: none;
}

.nav_link__detail:hover,
.nav_link__participate:hover,
.nav_link__archive:hover {
  color: var(--color-red);
  text-decoration: none;

}

/* nav link active state */

.nav_link__detail:is(:link, :active, :visited).active {
  color: var(--color-red);
  text-decoration: none;
}

.nav_link__participate:is(:link, :active, :visited).active {
  color: var(--color-red);
  text-decoration: none;
}

.nav_link__archive:is(:link, :active, :visited).active {
  color: var(--color-red);
  text-decoration: none;
}

/* end */


.nav_link__logo {
  background-image: url('../img/logo.svg');
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  padding: 2rem 6rem;
}

.nav_options {
  display: flex;
  justify-content: right;
  gap: 2rem;
  align-items: center;
}

.nav_item__language {
  border: solid 1px var(--color-white);
  padding-top: 0.8rem;
  padding-bottom: 0.8rem;
  padding-left: 1rem;
  padding-right: 2.5rem;
  border-radius: var(--border-radius-large);
  background-image: url(../img/arrowdown.svg);
  background-repeat: no-repeat;
  background-position: 3.5rem center;
  background-size: 0.9rem;
  text-transform: uppercase;
}

.nav_link__apply {
  background-color: var(--color-white);
  color: var(--color-black);
  border-radius: var(--border-radius-large);
  text-decoration: none;
  text-transform: uppercase;
  background-image: url(../img/longarrow.svg);
  background-repeat: no-repeat;
  background-position: 1rem center;
  background-size: 2rem;
  padding-left: 3.5rem;
  padding-right: 1.5rem;
  padding-top: 0.8rem;
  padding-bottom: 0.8rem;
  justify-content: right;
}

.nav_link__apply:hover {
  background-color: var(--color-red);
  color: var(--color-white);
  text-decoration: none;
  background-image: url(../img/longarrow_white.svg);
  background-repeat: no-repeat;
  background-position: 1rem center;
  background-size: 2rem;
}

/*******BANNER*********/

body {
  margin: 0;
}

.ticker {
  width: 100vw;
  background-image: url('../img/banner.svg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  color: var(--color-black);
  text-align: center;
  overflow: hidden;
  white-space: nowrap;
  padding-top: 1rem;
  padding-bottom: 2rem;
  font-weight: 500;
}

.ticker div {
  display: inline-block;
  width: 160%;
  position: absolute;
  overflow: hidden;
  animation: ticker 10s linear infinite;
}

.ticker span {
  float: left;
  width: 10%;
}

.banner_text {
  display: flex;
  text-transform: lowercase;
}

.banner_text a {
  color: var(--color-black);
}

.banner_text a:hover {
  color: var(--color-white);
}

@keyframes ticker {
  0% {
    left: 0%;
  }

  100% {
    left: -60%;
  }
}

/*******CAROUSEL*********/

.carousel {
  width: 75%;
  margin: auto;
  overflow: hidden;
  display: flex;
  flex-direction: row;
  /* background-color: rgb(107, 107, 228); */
  height: auto;
}

.carousel__reel {
  /* background-color: rgb(201, 120, 193); */
  display: flex;
  flex-direction: row;
  width: fit-content;
  margin: 0 auto;
  display: none;
}

.show {
  display: flex;
}

/*Carousel: film-card */
.card {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 12rem;
  height: auto;
  background-color: var(--color-white);
  margin-inline: 2rem;
  border-radius: var(--border-radius);
}

.card__image {
  width: 100%;
  height: auto;
}

.card__title {
  margin-block-start: 1rem;
  font-size: 1.125rem;
  font-weight: bold;
  color: var(--color-black);
}

.card__description,
.card__paragraph,
.card__year,
.card__theme {
  margin: 0.625rem 0;
  color: var(--color-black);
}

.btn__card {
  margin-block-start: 1rem;
  border: solid 1px var(--color-black);
  border-radius: var(--border-radius);
  background-color: var(--color-white);
  color: var(--color-black);
  padding: 0.5rem 2.5rem 0.5rem 1rem;
  cursor: pointer;
  text-decoration: none;
  background-image: url('../img/arrow.svg');
  background-repeat: no-repeat;
  background-position: 7rem;
  background-size: 1rem;
  font-size: 1rem;
}

/*Carousel: nav-btns*/
.carousel__nav {
  display: flex;
  margin-block-end: 1rem;
  padding-inline-end: 1.2rem;
}

.btn__carousel {
  position: relative;
  background-color: var(--color-black);
  color: var(--color-white);
  border-radius: var(--radius-btn);
  padding: 0.5rem 1rem;
  cursor: pointer;
}

.btn__carousel:hover {
  background-color: var(--color-white);
  color: var(--color-black);
}

/*////////////// HOMEPAGE ///////////////*/
/******* Homepage - REQUIREMENTS *********/
