@import url(reset.css);

/*
1.Typography
2.Global style
3.Layout
4.Keyframes/animations
5.Media queries
*/

/*=======================================
       1. Typography
=========================================*/

@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap');

@font-face {
  font-family: 'ClashDisplay-Extralight';
  src: url('../fonts/ClashDisplay-Extralight.otf') format('opentype');
  font-display: swap;
  font-style: normal;
}

@font-face {
  font-family: 'ClashDisplay-Light';
  src: url('../fonts/ClashDisplay-Light.otf') format('opentype');
  font-weight: 300;
  font-display: swap;
  font-style: normal;
}

@font-face {
  font-family: 'ClashDisplay-Regular';
  src: url('../fonts/ClashDisplay-Regular.otf') format('opentype');
  font-weight: 400;
  font-display: swap;
  font-style: normal;
}

@font-face {
  font-family: 'ClashDisplay-Medium';
  src: url('../fonts/ClashDisplay-Medium.otf') format('opentype');
  font-weight: 500;
  font-display: swap;
  font-style: normal;
}

@font-face {
  font-family: 'ClashDisplay-Semibold';
  src: url('../fonts/ClashDisplay-Semibold.otf') format('opentype');
  font-display: swap;
  font-style: normal;
}

@font-face {
  font-family: 'ClashDisplay-Bold';
  src: url('../fonts/ClashDisplay-Bold.otf') format('opentype');
  font-weight: 700;
  font-display: swap;
  font-style: normal;
}

/*=======================================
      2. Global Style
=========================================*/
html {
  box-sizing: border-box;
  background-color: var(--color-black);
  scroll-behavior: smooth;
  overflow-x: hidden;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  font-family: 'Montserrat', sans-serif, Arial, Helvetica, sans-serif;
  color: var(--color-white);
  overflow-x: hidden;
}

:root {
  --color-white: #fceed2;
  --color-orange: #fb6d33;
  --color-purple: #b759eb;
  --color-black: #221e1f;
  --color-red: #db4132;

  /*create clamp/responsive later*/

  --font-size-h1: 4.375rem;
  /*70px*/
  --font-size-h2: 3.12rem;
  /*50px*/
  --font-size-h3: 3rem;
  /*48px*/

  --font-size-xl: 2.5rem;
  /*40px*/
  --font-size-l: 1.875rem;
  /*30px*/
  --font-size-m: 1.5rem;
  /*24px*/
  --font-size-s: 1.25rem;
  /*20px*/
  --font-size-body: 1.125rem;
  /*18px*/

  --border-radius: 0.2rem;
  --border-radius-large: 2rem;

  --ff-clash-regular: 'ClashDisplay-Regular', sans-serif;
  --ff-clash-medium: 'ClashDisplay-Medium', sans-serif;
  --ff-clash-semibold: 'ClashDisplay-Semibold', sans-serif;
  --ff-clash-bold: 'ClashDisplay-Bold', sans-serif;

  --ff-montserrat: 'Montserrat', sans-serif;

  --font-weight-regular: 400;
  --font-weight-medium: 500;
  --font-weight-semibold: 600;
  --font-weight-bold: 700;
}

/*=======================================
       3.  Layout
=========================================*/

/*****+******/

strong {
  font-weight: 700;
}

.hidden {
  display: none;
}

.orange {
  color: var(--color-orange);
}

.purple {
  color: var(--color-purple);
}

.red {
  color: var(--color-red);
}

.bold {
  font-weight: bold;
}

.bold2 {
  font-family: 'ClashDisplay-semiBold', sans-serif;
}

.btn {
  border: solid 0.125rem var(--color-black);
  border-radius: var(--border-radius);
  color: var(--color-black);
  padding: 0.6rem 3.5rem;
  cursor: pointer;
  text-decoration: none;
  font-size: 0.875rem;
  background-color: none;
  display: block;
  text-align: center;
}

.btn--white {
  border: solid 0.125rem var(--color-white);
  background-color: var(--color-white);
  color: var(--color-black);
  border: none;
  display: block;
  text-align: center;
}

.btn--join {
  border: solid 0.125rem var(--color-white);
  background-color: var(--color-white);
  color: var(--color-black);
  display: block;
  text-align: center;
}

.btn--join:hover {
  background-color: var(--color-black);
  color: var(--color-white);
  border: solid 0.125rem var(--color-white);
}


.btn--white--border {
  border: solid 0.125rem var(--color-white);
  border-radius: var(--border-radius);
  color: var(--color-white);
  background-color: none;
  display: block;
  text-align: center;
}



/*****+******/

a {
  color: var(--color-white);
}

main {
  margin: 0 auto;

  max-width: 80%;
}

p {
  line-height: 1.5;
  font-weight: 300;
}

h1 {
  font-size: 2rem;
  margin-block-end: 1rem;
  /* text-transform: uppercase; */
  font-family: 'ClashDisplay-Bold', sans-serif;
}

h3 {
  font-size: 1.5rem;
  margin-block-end: 1rem;
  font-family: 'ClashDisplay-SemiBold', sans-serif;
}

footer {
  background-color: var(--color-white);
  display: block;
  padding: 2rem;
}

/*******TOP NAVIGATION*********/

.container__nav {
  padding: 2rem;
  background: var(--color-black);
}

.nav__links {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 2rem 0 2rem;
  font-size: 0.8rem;
  text-decoration: none;
  font-weight: 600;
}

.footer_link__item {
  color: var(--color-black);
  text-transform: uppercase;
  text-decoration: none;
}

.nav_link__detail,
.nav_link__participate,
.nav_link__archive {
  color: var(--color-white);
  text-transform: uppercase;
  text-decoration: none;
}

.nav_link__detail:hover,
.nav_link__participate:hover,
.nav_link__archive:hover {
  color: var(--color-red);
  text-decoration: none;
}

/* nav link active state */

.nav_link__detail:is(:link, :active, :visited).active {
  color: var(--color-red);
  text-decoration: none;
}

.nav_link__participate:is(:link, :active, :visited).active {
  color: var(--color-red);
  text-decoration: none;
}

.nav_link__archive:is(:link, :active, :visited).active {
  color: var(--color-red);
  text-decoration: none;
}

/* end */

.nav_link__logo {
  background-image: url('../img/logo.svg');
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  padding: 2rem 6rem;
}

.nav_options {
  display: flex;
  justify-content: right;
  gap: 2rem;
  align-items: center;
}

.nav_item__language {
  border: solid 1px var(--color-white);
  padding-top: 0.8rem;
  padding-bottom: 0.8rem;
  padding-left: 1rem;
  padding-right: 2.5rem;
  border-radius: var(--border-radius-large);
  background-image: url(../img/arrowdown.svg);
  background-repeat: no-repeat;
  background-position: 3.5rem center;
  background-size: 0.9rem;
  text-transform: uppercase;
}

.nav_link__apply {
  background-color: var(--color-white);
  color: var(--color-black);
  border-radius: var(--border-radius-large);
  text-decoration: none;
  text-transform: uppercase;
  background-image: url(../img/longarrow.svg);
  background-repeat: no-repeat;
  background-position: 1rem center;
  background-size: 2rem;
  padding-left: 3.5rem;
  padding-right: 1.5rem;
  padding-top: 0.8rem;
  padding-bottom: 0.8rem;
  justify-content: right;
}

.nav_link__apply:hover {
  background-color: var(--color-red);
  color: var(--color-white);
  text-decoration: none;
  background-image: url(../img/longarrow_white.svg);
  background-repeat: no-repeat;
  background-position: 1rem center;
  background-size: 2rem;
}

.sticky {
  border-bottom: solid 2px var(--color-white);
  transition: 0.5s;
  z-index: 1000;
}



/******* HEADER *********/
.header__home {
  height: 60vh;
  /* give space for event countdown  */
}

.btn__text {
  font-family: var(--ff-clash-regular);
  font-size: var(--font-size-h3);
}

.ticker {
  width: 100vw;
  background-image: url('../img/banner.svg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  color: var(--color-black);
  text-align: center;
  overflow: hidden;
  padding-top: 0.5rem;
  padding-bottom: 2rem;
  font-weight: 500;
}

.ticker div {
  width: 200%;
  position: absolute;
  overflow: hidden;
  animation: ticker 10s linear infinite;
}

.ticker:hover div {
  animation-play-state: paused;
}

.ticker span {
  float: left;
  width: 10%;
}

.banner_text {
  display: flex;
  text-transform: lowercase;
  align-items: center;
}

.banner_text a {
  color: var(--color-black);
  font-weight: 600;
}

.banner_text p {
  font-weight: 600;
}

.banner_text a:hover {
  color: var(--color-white);
}

@keyframes ticker {
  0% {
    left: 0%;
  }

  100% {
    left: -80%;
  }
}

@media (prefers-reduced-motion) {
  .ticker div {
    animation: none;
  }
}

/*******EVENT COUNTDOWN*********/



.arrow__wrapper {
  width: 100vw;
  position: relative;
  left: 50%;
  right: 50%;
  margin-left: -50vw;
  margin-right: -50vw;
  background-image: url('../img/big-purple-arrow.svg');
  background-repeat: no-repeat;
  background-position: center 0;
  background-size: 90%;

}

.container__countdown {
  position: relative;
  right: 10%;
  padding-top: 2%;
}



.wrapper__non-bleed {
  max-width: 80%;
  margin: 0 auto;
}

.countdown__wrapper {
  display: grid;
  grid-template-columns: 25% 50% 25%;
  font-family: var(--ff-montserrat);
  font-weight: var(--font-weight-regular);
  color: var(--color-purple);
  width: 80%;
  margin: 0 auto;
  align-items: center;
}

.countdown {
  display: flex;
}

.countdown__info {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  padding-block-end: 0.5rem;
  gap: 1rem;
  color: var(--color-white);
}

.countdown__days,
.countdown__hrs,
.countdown__min,
.countdown__sec {
  text-align: center;
  margin: 0 5rem;
}

.c__days,
.c__hrs,
.c__min,
.c__sec,
.c__colon {
  font-size: 3rem;
  font-weight: var(--font-weight-semibold);
  font-family: var(--ff-clash-semibold);
  color: var(--color-white);
}

/*******CAROUSEL*********/

.carousel {
  width: 100%;
  margin: auto;
  overflow: hidden;
  display: flex;
  flex-direction: row;
  height: auto;
}

.carousel__reel {
  display: flex;
  flex-direction: row;
  width: fit-content;
  margin: 0 auto;
  display: none;
}

.show {
  display: flex;
}

.card {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 20rem;
  height: auto;

  margin-inline: 2rem;
}

.card__image {
  width: 100%;
  height: 230px;
  object-fit: cover;
  border-radius: var(--border-radius) var(--border-radius) 0 0;
}

.card__title {
  margin-block-start: 1rem;
  font-size: 1.125rem;
  font-weight: bold;
  color: var(--color-black);
}

.card__description,
.card__paragraph,
.card__year,
.card__theme {
  margin: 0.625rem 0;
  color: var(--color-black);
}

.card__theme {
  font-size: 0.875rem;
  text-align: right;
}

.card__description {
  font-size: 0.875rem;
}

.card__year {
  font-family: 'ClashDisplay-SemiBold', sans-serif;
  font-size: 3rem;
  text-align: right;
}

.btn__card {
  margin-block-start: 1rem;
  border: solid 2px var(--color-black);
  border-radius: var(--border-radius);
  color: var(--color-black);
  padding: 0.5rem 2.5rem 0.5rem 1rem;
  cursor: pointer;
  text-decoration: none;
  background-image: url('../img/arrow.svg');
  background-repeat: no-repeat;
  background-position: 6.5rem center;
  background-size: 1rem;
  font-size: 0.875rem;
  text-align: right;
  transition: .5s;
}

.btn__card:hover {
  background-image: url('../img/arrow.svg');
  background-repeat: no-repeat;
  background-position: 7rem center;
  background-size: 1rem;
}

.detail__card {
  padding: 1rem;
  background-image: url(../img/cardbackground.svg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 0 0 var(--border-radius) var(--border-radius);
}

.detail__card__grid {
  display: flex;
  flex-direction: row;
  gap: 1rem;
  justify-content: space-between;
  align-items: top;
}

.detail__card__line {
  border-left: solid 2px var(--color-black);
  padding-left: 1rem;
}

.btn__card__container {
  display: flex;
  justify-content: end;
}

/*Carousel: nav-btns*/
.carousel__nav {
  display: flex;
  margin-block-end: 1rem;
  padding-inline-end: 1.2rem;
}

.btn__carousel {
  position: relative;
  background-color: var(--color-black);
  color: var(--color-white);
  border-radius: var(--radius-btn);
  padding: 0.5rem 1rem;
  cursor: pointer;
}

.btn__carousel:hover {
  background-color: var(--color-white);
  color: var(--color-black);
}

/*////////////// HOMEPAGE ///////////////*/
/******* Homepage - REQUIREMENTS *********/

/*////////////// FESTIVAL DETAILS ///////////////*/
/******* Festival Details - REQUIREMENTS *********/

.trailer {
  position: relative;
}

.trailer p {
  position: absolute;
  top: 2%;
  right: 2%;
}

.play_button {
  position: absolute;
  top: 50%;
  left: 52%;
  transform: translate(-50%, -50%);
  cursor: pointer;
}

.festival-details__container {
  position: relative;
  left: 10%;
  margin-top: 3rem;
}

.header__festival {
  display: flex;
  align-items: center;
  margin-bottom: 3rem;
  margin-right: 10%;
}

.trailer_img {
  width: 35rem;
  height: auto;
}

.header__festival__text {
  display: flex;
  flex-direction: column;
  margin-left: 2rem;
  align-items: flex-start;
}

.header__festival__text span {
  text-decoration: 1px underline;
  text-underline-offset: 7px;
}

.header__festival__text h1 {
  font-family: var(--ff-clash-semibold);
  font-size: 3.5rem;
  text-transform: uppercase;
}

.container__what {
  display: flex;
  gap: 2rem;
  margin-bottom: 5rem;
  margin-right: 3%;
}

.what__theme {
  background-image: url(../img/whatbackground.svg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: 100%;
  background-position: top;
  padding: 3rem 0rem 4rem 2rem;
  border-radius: var(--border-radius);
  color: var(--color-black);
  margin-bottom: 1rem;
}

.what__theme h3 {
  text-transform: uppercase;
  font-size: 0.875rem;
  font-weight: var(--font-weight-regular);
  font-family: var(--ff-montserrat);
  margin-bottom: 0.5rem;
}

.what__theme h2 {
  font-size: 1.6rem;
  font-family: var(--ff-clash-medium);
  margin-bottom: 1rem;
}

.what__theme p {
  max-width: 80%;
}

.what__unique {
  text-align: right;
  margin-left: 5rem;
}

.what__unique h3 {
  font-size: 1.8rem;
  font-family: var(--ff-clash-medium);
  margin-bottom: 0.5rem;
}

.what__unique p {
  margin-left: 6rem;
}

.what__unique .purple {
  font-weight: var(--font-weight-bold);
}

.container__when__where__bleed {
  background-image: url(../img/when-where-background.svg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100vw;
  position: relative;
  left: 40%;
  right: 50%;
  margin-left: -50vw;
  margin-right: -50vw;
  padding: 2rem 0 8rem 0;

}

.container__when {
  position: relative;
  left: 10%;
  width: 80%;
  margin: 0rem auto;
  display: flex;
  flex-direction: column;
  align-content: left;
  justify-content: center;
  align-items: left;
  padding: 4rem;
  margin-bottom: 13rem;
}

.container__when__title {
  font-size: 3rem;
  font-family: var(--ff-clash-bold);
  text-transform: uppercase;
  color: var(--color-black);
  margin-bottom: 2rem;
}

.container__when div {
  color: var(--color-black);
}

.container__when a {
  text-decoration: none;
  display: block;
  color: var(--color-white);
  background-color: var(--color-black);
  border: solid 0.125rem var(--color-black);
  border-radius: var(--border-radius);
  color: var(--color-white);
  padding: 0.6rem 3.5rem;
  cursor: pointer;
  text-decoration: none;
  font-size: 0.875rem;
  background-color: none;
  text-align: center;
}

.date-info__container a:hover {
  background-color: transparent;
  color: var(--color-black);
}

.date-info__container h3 {
  font-size: 1.8rem;
  font-family: var(--ff-montserrat);
  text-transform: uppercase;
  border-bottom: solid 2px var(--color-black);
  margin-bottom: 0.5rem;
}

.date-info__container h3 {
  font-size: 1.2rem;
  font-family: var(--ff-montserrat);
  text-transform: uppercase;
  border-bottom: solid 2px var(--color-black);
  margin-bottom: 1rem;
}

.date-info__container h2 {
  font-size: 2rem;
  font-family: var(--ff-clash-medium);
  text-transform: uppercase;
  text-align: center;
  padding: 0 1rem 0 1rem;
}

.date-info__container p {
  font-size: 1.2rem;
  font-family: var(--ff-clash-regular);
  text-transform: uppercase;
  text-align: center;
}

.date-info__container {
  display: flex;
  gap: 2rem;
}

.date-info__container div {
  background-image: url(../img/cardbackground.svg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: var(--border-radius);
  padding: 2rem;
}

.container__where {
  position: relative;
  left: 10%;
  width: 80%;
  margin: 0rem auto;
  padding: 8rem 0 8rem 0;
  display: flex;
  gap: 2rem;
}

.container__where__text {
  width: 40%;
}

.container__where h2 {
  font-size: 3rem;
  font-family: var(--ff-clash-semibold);
  color: var(--color-white);
  margin-bottom: 2rem;
}

.container__cta--festival {
  margin-top: 5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  right: 10%;
  background-image: url(../img/cta-arrow.svg);
  background-position: bottom left 35%;
  background-repeat: no-repeat;
  background-size: 10%;
  margin: 10rem 0 10rem 0;
}

.container__cta--festival h2 {
  font-family: var(--ff-clash-regular);
  font-size: 3rem;
  margin-bottom: 1rem;
}

.container__cta--festival p {
  font-family: var(--ff-montserrat);
  font-size: var(--font-size-s);
}

.container__cta--festival div {
  margin-bottom: 2rem;
}

.container__cta--festival a {
  position: relative;
  left: 5%;
  border: solid 2px var(--color-black);
  padding-top: 1rem;
  padding-bottom: 1rem;
}

.container__cta--festival a:hover {
  background-color: var(--color-black);
  color: var(--color-white);
  border: solid 2px var(--color-white);
}

.location1 {
  position: absolute;
  bottom: 10%;
  pointer-events: none;
}

.location2 {
  position: absolute;
  top: 40%;
  left: 75%;
  transform: translate(-50%, -50%);
  pointer-events: none;
}

.location3 {
  position: absolute;
  top: 21%;
  left: 60%;
  transform: translate(-50%, -50%);
  pointer-events: none;
}

.location4 {
  position: absolute;
  top: 15%;
  left: 60%;
  transform: translate(-50%, -50%);
  display: flex;
  flex-direction: column;
  align-items: end;
  pointer-events: none;
}

.location5 {
  position: absolute;
  top: 40%;
  left: 70%;
  transform: translate(-50%, -50%);
  display: flex;
  flex-direction: column;
  align-items: end;
  pointer-events: none;
}

.location1--active,
.location2--active,
.location3--active,
.location4--active,
.location5--active {
  z-index: 10;
  pointer-events: all;
}

.location-pin1,
.location-pin2,
.location-pin3,
.location-pin4,
.location-pin5 {
  background-image: url(../img/location-pin.svg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  width: 3rem;
  height: 3.5rem;
  cursor: pointer;
  pointer-events: all;
}

.location-pin1:hover,
.location-pin2:hover,
.location-pin3:hover,
.location-pin4:hover,
.location-pin5:hover {
  background-image: url(../img/location-pin-selected.svg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  width: 3rem;
  height: 3.5rem;
  cursor: pointer;
  pointer-events: all;
}

.location-info1,
.location-info2,
.location-info3 {
  background-image: url(../img/location-popup.svg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  color: var(--color-black);
  padding: 2rem 0rem 5rem 2rem;
  display: flex;
  gap: 1rem;
  position: relative;
  left: 10%;
  visibility: hidden;
}

.location-info4,
.location-info5 {
  background-image: url(../img/location-popup2.svg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  color: var(--color-black);
  padding: 2rem 0rem 5rem 2rem;
  display: flex;
  gap: 1rem;
  position: relative;
  right: 10%;
  visibility: hidden;
}

.location-info1--active,
.location-info2--active,
.location-info3--active {
  background-image: url(../img/location-popup.svg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  color: var(--color-black);
  padding: 2rem 0rem 5rem 2rem;
  display: flex;
  gap: 1rem;
  position: relative;
  left: 10%;
  visibility: visible;
}

.location-info4--active,
.location-info5--active {
  background-image: url(../img/location-popup2.svg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  color: var(--color-black);
  padding: 2rem 0rem 5rem 2rem;
  display: flex;
  gap: 1rem;
  position: relative;
  visibility: visible;
}

.location-pin1--active,
.location-pin2--active,
.location-pin3--active,
.location-pin4--active,
.location-pin5--active {
  background-image: url(../img/location-pin-selected.svg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  width: 3rem;
  height: 3.5rem;
}

.locations h3 {
  font-family: var(--ff-clash-semibold);
  font-size: var(--font-size-s);
  text-transform: uppercase;
  margin-bottom: 0.5rem;
  margin-top: 0.5rem;
  border-bottom: solid 2px var(--color-black);
}

.location-info1 img,
.location-info2 img,
.location-info3 img,
.location-info4 img,
.location-info5 img {
  border-radius: var(--border-radius);
  margin-right: 2rem;
}

.location-info1 a,
.location-info2 a,
.location-info3 a,
.location-info4 a,
.location-info5 a {
  color: var(--color-black);
  text-decoration: none;
  color: var(--color-white);
  padding: .5rem 1rem;
  background-color: var(--color-red);
  border-radius: var(--border-radius);
}

.location-info1 a:hover,
.location-info2 a:hover,
.location-info3 a:hover,
.location-info4 a:hover,
.location-info5 a:hover {
  text-decoration: none;
  padding: .5rem 1rem;
  background-color: var(--color-black);
  border-radius: var(--border-radius);
}

.location-link {
  margin-top: 1rem;
}

/* When what where navigation */

.festival-details__nav {
  position: fixed;
  z-index: 1;
  top: 40%;
  left: 0;
  font-family: 'ClashDisplay-SemiBold', sans-serif;
  font-size: 2rem;
  text-transform: uppercase;
}

.festival-details__nav ul {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

#what,
#when,
#where,
#how,
#join {
  scroll-margin-top: 180px;
}

.what__nav,
.when__nav,
.where__nav {
  cursor: pointer;
  text-decoration: none;
  background-image: url('../img/whitearrow.svg');
  background-repeat: no-repeat;
  background-position: left;
  background-size: 3rem;
  padding-left: 4rem;
  transition: 0.5s;
}

.what__nav:hover,
.when__nav:hover,
.where__nav:hover {
  color: var(--color-purple);
  background-image: url('../img/purplearrow.svg');
  background-repeat: no-repeat;
  background-position: left;
  background-size: 3rem;
  padding-left: 4rem;
  transition: 0.5s;
}

/* active state festival detail nav gsap */

.activesection {
  color: var(--color-purple);
  background-image: url('../img/purplearrow.svg');
  background-repeat: no-repeat;
  background-position: left;
  background-size: 5rem;
  padding-left: 6rem;
}

/*////////////// FILM ARCHIVE ///////////////*/
/******* Film Archive - REQUIREMENTS *********/

.film-list__archive {
  margin-bottom: 10rem;
}

.title-main__archive {
  text-transform: uppercase;
  color: var(--color-red);
  font-size: 2.5rem;
  font-family: 'ClashDisplay-SemiBold', sans-serif;
}

.title-start__archive {
  font-family: 'ClashDisplay-Regular', sans-serif;
  font-size: 2rem;
  margin-block-start: 1rem;
}

.info__archive {
  display: flex;
  gap: 4rem;
  align-items: center;
  margin-bottom: 5rem;
  margin-top: 3rem;
}

.archive__img {
  width: 50%;
}

.description__archive {
  line-height: 1.3;
  font-size: 1rem;
  font-weight: 300;
}

.archive__card {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 20rem;
  height: auto;
  margin-inline: 2rem;
}

.archive__cards__container {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  row-gap: 3rem;
  justify-content: center;
  height: auto;
  margin-top: 5rem;
}

/****** SORT FILMS *******/

.sort__container button {
  border: none;
  background-color: var(--color-black);
  color: var(--color-white);
  padding: 0.5rem 1rem;
  cursor: pointer;
  border: 2px solid var(--color-white);
  border-radius: var(--radius-btn);
  margin-inline: 0.5rem;
}

/****** FILTER FILMS *******/

.archive__card.hidden {
  display: none;
}

.sorter-filter__wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 1rem 0 2rem 0;
}

select {
  padding: 0.5rem;
  border: none;
  border-bottom: solid 2px var(--color-white);
  font-size: 0.875rem;
  text-transform: uppercase;
  font-family: 'montserrat', sans-serif;
  cursor: pointer;
  background-color: var(--color-black);
  color: var(--color-white);
}

.theme__description__container {
  text-align: center;
  margin-top: 5rem;
  max-width: 70%;
  margin-inline: auto;
}

.theme__title {
  font-family: 'ClashDisplay-SemiBold', sans-serif;
  font-size: 1.5rem;
  margin-bottom: 0.5rem;
}

.theme__year {
  font-family: 'ClashDisplay-regular', sans-serif;
  font-size: 1.2rem;
  margin-bottom: 2rem;
}

.theme__description {
  font-weight: 200;
}

/*////////////// FILM DETAIL ///////////////*/

/** detailpage - images **/
.detailpage__album {
  display: flex;
  flex-direction: column;
}

.album__title {
  display: flex;
  justify-content: center;
  font-family: var(--ff-clash-medium);
  font-weight: var(--font-weight-medium);
  font-size: var(--font-size-l);
}

.line {
  background-color: var(--color-black);
  height: 0.09rem;
}

/* 
.album__images {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 1rem;
  justify-content: center;
  padding:1rem 0rem 5rem; 
} */
.album__images {
  display: flex;
  flex-wrap: wrap;
  gap: 0.8rem;
  padding: 1rem 0rem 5rem;
}

.crew__img {
  flex: 10%;
  width: 100%;
  height: auto;
  border-radius: 4px;
}

.back-button {
  margin: 2.9rem 0rem;
  color: var(--color-white);
  border: solid 0.1rem var(--color-white);
}

/** detailpage - film-information **/
.container__detailpage {
  padding-block-start: 2rem;
  width: 100%;
}

.detailpage__header {
  display: flex;
  margin-block-start: 4.9rem;
}

.header__img--detail {
  width: 55%;
  height: auto;
  /* padding-inline-end: 1rem; */
  margin-inline-end: 1rem;
  border-radius: var(--border-radius);
}

.header__info--detail {
  width: 45%;
  height: auto;
  background-color: var(--color-white);
  color: var(--color-black);
  border-radius: var(--border-radius);
  padding: 3.5rem;
  background: var(--color-white) url(../img/cardbackground.svg) no-repeat center;
  background-size: cover;
}

.detail__title {
  font-family: var(--ff-clash-medium);
  font-weight: var(--font-weight-medium);
  font-size: var(--font-size-l);
  margin-block-end: 1rem;
  line-height: 3rem;
}

.detail__details {
  display: flex;
  justify-content: space-between;
  font-weight: var(--font-weight-medium);
}

.detail__paragraph {
  padding-block-start: 1rem;
  font-size: 16px;
}

.detailpage__crew {
  padding: 2rem 0rem;
}

.crew__title {
  font-family: var(--ff-clash-medium);
  font-weight: var(--font-weight-medium);
  font-size: var(--font-size-m);
}

.crew__container {
  display: flex;
  flex-wrap: wrap;
  width: 65%;
  gap: 1rem;
  padding: 0.5rem 0rem 5rem;
}


/*////////////// PARTICIPATION ///////////////*/

.header__workshops {
  display: flex;
  margin-top: 4rem;
  margin-bottom: 5rem;
}

.header__workshops img {
  position: relative;
  width: 70%;
  left: 2%;
  z-index: -1;

}

.header__text {

  position: relative;
  left: 10%;
  width: 100vw;
  margin-left: -10vw;
  margin-right: -10vw;
}

.header__workshops h1 {
  font-family: var(--ff-clash-bold);
  font-size: 3rem;
  line-height: 3rem;
  text-transform: uppercase;
}

.arrow {
  display: flex;
  flex-direction: row;
  gap: 1rem;
  background-image: url(../img/arrowdown-participation.svg);
  background-repeat: no-repeat;
  background-position: left 100%;
  background-size: 4rem;
  padding: 0 0 7.5rem 4rem;
  position: relative;
  right: 10%;
}

.festival-date {
  font-family: var(--ff-montserrat);
  font-size: var(--font-size-s);
  margin-block-end: 1rem;
  line-height: 3rem;
  text-transform: uppercase;
}


.application-state {
  background-image: url(../img/circle.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  padding: 6rem 2rem 5rem 2rem;
  position: absolute;
  right: 15%;
  top: 35%;
  width: 15%;
  transform-origin: center;
  text-align: center;

}

.btn--participation {
  border: solid 0.125rem var(--color-white);
  border-radius: var(--border-radius);
  color: var(--color-white);
  padding: 1rem 4rem;
  cursor: pointer;
  text-decoration: none;
  font-size: 0.875rem;
  background-color: none;
}

.btn--participation:hover {
  border: solid 0.125rem var(--color-red);
  color: var(--color-red);
}

.btn--apply {
  border: solid 0.125rem var(--color-white);
  border-radius: var(--border-radius);
  background-color: var(--color-white);
  color: var(--color-black);
  padding: 1rem 4rem;
  cursor: pointer;
  text-decoration: none;
  font-size: 0.875rem;
  background-color: none;
}

.btn--apply:hover {
  border: solid 0.125rem var(--color-red);
  background-color: var(--color-red);
  color: var(--color-white);

}

.container__how h2 {
  font-family: var(--ff-clash-semibold);
  font-size: var(--font-size-l);
  text-transform: uppercase;
  text-align: center;
  margin-bottom: 2rem;
}

.how-cards__container div {
  background-image: url(../img/how-background.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  padding: 2rem;
  border-radius: var(--border-radius);
  color: var(--color-black);
  width: 20rem;
}

.how-cards__container h3 {
  font-family: var(--ff-montserrat);
  font-weight: var(--font-weight-medium);
  text-transform: uppercase;
  font-size: var(--font-size-s);
  margin-block-end: 1rem;
  line-height: 2rem;
  border-bottom: solid 0.125rem var(--color-black);
}

.how-cards__container {
  display: flex;
  gap: .5rem;
}

.how__container--bleed {
  background-image: url(../img/purple-zap.svg);
  background-repeat: no-repeat;
  background-position: 0% 25%;
  background-size: contain;
  width: 95vw;
  position: relative;
  left: 50%;
  right: 50%;
  margin-left: -50vw;
  margin-right: -50vw;
  padding: 0 4rem 0 0rem;

}

.how__container {
  max-width: 80%;
  margin: 0 auto;
  margin-right: 2rem;

}

.container__participate div {
  background-image: url(../img/can-i-background.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  padding: 3rem;
  border-radius: var(--border-radius);
  color: var(--color-black);
}

.container__participate h2 {
  font-family: var(--ff-clash-medium);
  font-size: var(--font-size-xl);
  margin-bottom: 2rem;
}

.container__participate p {
  margin-bottom: 2rem;
}

.container__participate a {
  padding: 1rem 2rem;
  max-width: 15rem;
}

.container__participate a:hover {
  background-color: var(--color-black);
  color: var(--color-white);
}

.container__participate {
  display: flex;
  gap: 2rem;
  margin-bottom: 5rem;
}

.container__participate img {
  width: 50%;
  height: auto;
}

.btn--festival {
  border: solid 0.125rem var(--color-black);
  border-radius: var(--border-radius);
  color: var(--color-black);
  padding: 0.6rem .5rem;
  cursor: pointer;
  text-decoration: none;
  font-size: 0.875rem;
  background-color: none;
  display: block;
  margin-top: .5rem;
}

.btn--festival:hover {
  background-color: var(--color-black);
  color: var(--color-white);
}

.year-season__text {
  text-transform: uppercase;
  font-family: var(--ff-montserrat);
  font-size: var(--font-size-s);
}

.container__theme {
  background-image: url(../img/kortrijk-banner.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 35rem;
}

.theme--bleed {
  width: 100vw;
  position: relative;
  left: 50%;
  right: 50%;
  margin-left: -50vw;
  margin-right: -50vw;

}

.container__theme h3 {

  text-transform: uppercase;
  font-family: var(--ff-clash-medium);

}

.container__theme h1 {
  text-transform: uppercase;
  font-family: var(--ff-clash-semibold);
  max-width: 80%;
  font-size: 3rem;
}

.container__theme h2 {
  font-family: var(--ff-clash-medium);
  font-size: var(--font-size-m);
  text-align: center;
  margin-bottom: 1rem;
}

.theme__card {
  background-image: url(../img/theme-background.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  padding: 4rem 4rem;
  border-radius: var(--border-radius);
  color: var(--color-black);
  font-weight: var(--font-weight-medium);
  text-align: center;
  max-width: 60%;
}

.container__theme--wrapper {
  max-width: 80%;
  margin: 0 auto;
  display: flex;
  padding-top: 8rem;
  align-items: center;
}

/*******BANNER THEME*********/

.banner-theme {
  width: 100vw;
  background-image: url('../img/banner.svg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  color: var(--color-black);
  text-align: center;
  overflow: hidden;
  padding-top: 1rem;
  padding-bottom: 2.5rem;
  font-weight: 500;
  transform: rotate(3deg);
  position: absolute;
  bottom: 0;
}

.banner-theme div {
  width: 200%;
  position: absolute;
  overflow: hidden;
  animation: banner-theme 10s linear infinite;
}


.banner-theme span {
  float: left;
  width: 10%;
}

.banner-theme-text {
  display: flex;
  align-items: center;
}

.banner-theme-text p {
  font-family: var(--ff-clash-semibold);
  color: var(--color-white);
  font-weight: 600;
  text-transform: uppercase;
}

.banner-theme-text a:hover {
  color: var(--color-white);
}

@keyframes banner-theme {
  0% {
    right: 0%;
  }

  100% {
    right: -80%;
  }
}

@media (prefers-reduced-motion) {
  .banner-theme div {
    animation: none;
  }
}


/*******BANNER HOW*********/

.banner-how {
  width: 100vw;
  background-color: var(--color-black);
  color: var(--color-white);
  border-top: solid 0.125rem var(--color-white);
  border-bottom: solid 0.125rem var(--color-white);
  text-align: center;
  overflow: hidden;
  padding-top: 1rem;
  padding-bottom: 2.5rem;
  font-weight: 500;
  transform: rotate(-1.5deg);
  position: absolute;
  top: 90%;

}

.banner-how div {
  width: 200%;
  position: absolute;
  overflow: hidden;
  animation: banner-how 10s linear infinite;
}


.banner-how span {
  float: left;
  width: 10%;
}

.banner-how-text {
  display: flex;
  align-items: center;
}

.banner-how-text p {
  font-family: var(--ff-clash-semibold);
  color: var(--color-white);
  font-weight: 600;
  text-transform: uppercase;
}

.banner--how-text a:hover {
  color: var(--color-white);
}

@keyframes banner-how {
  0% {
    right: 0%;
  }

  100% {
    right: -80%;
  }
}

@media (prefers-reduced-motion) {
  .banner-how div {
    animation: none;
  }
}

.picture-banner--bleed {
  width: 100vw;
  position: relative;
  left: 50%;
  right: 50%;
  margin-left: -52vw;
  margin-right: -50vw;
  margin-top: 6rem;
  margin-bottom: 10rem;
}

.picture-banner--bleed img {
  width: 110%;
  height: auto;
  position: relative;
  right: 10%;
}

/******* end banner *********/

.container__workshops {
  margin-top: 10rem;
  max-width: 90%;
  margin: 10rem auto;
  position: relative;
}

.container__workshops h1 {
  text-align: center;
  font-family: var(--ff-clash-semibold);
  font-size: var(--font-size-l);
  text-transform: uppercase;
}


.workshops--card {
  background-image: url(../img/workshops-card.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  padding: 6rem 3rem;
  border-radius: var(--border-radius);
  color: var(--color-black);
  width: 100%;
}

.workshops--card h3 {
  font-family: var(--ff-clash-medium);
  font-size: var(--font-size-s);
  margin-bottom: 1rem;
  border-bottom: solid 0.125rem var(--color-black);
}

.workshops--card h2 {
  font-family: var(--ff-clash-medium);
  font-size: var(--font-size-l);
  margin-bottom: 1rem;
}

.workshops--card span {
  font-family: var(--ff-clash-medium);
  font-size: var(--font-size-s);
  margin-bottom: 1rem;
}

.workshops--card p {
  margin-bottom: 1rem;
}

.workshops--info {
  display: flex;
  gap: 1rem;
}

.when-bubble {
  position: absolute;
  bottom: 75%;
  left: 82%;
  background-image: url(../img/red-circle.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 9rem;
  padding: 4rem 2rem 3.2rem 2rem;
  text-align: center;
}

.where-bubble {
  position: absolute;
  top: 10%;
  left: 93%;
  background-image: url(../img/orange-circle.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 12rem;
  padding: 4rem 4rem 3.2rem 4rem;
  text-align: center;
}

.where-bubble h4,
.when-bubble h4 {
  font-family: var(--ff-clash-medium);
  font-size: var(--font-size-s);
  margin-bottom: 1rem;
  text-decoration: underline;
}

.where-bubble p,
.when-bubble p {
  font-weight: 400;

}

.btn--workshop {
  max-width: 15rem;
  padding: 1rem 2rem;
}

.btn--workshop:hover {
  background-color: var(--color-black);
  color: var(--color-white);
}

.orange-arrow__wrapper {
  background-image: url(../img/orange-arrow.svg);
  background-repeat: no-repeat;
  background-position: right 28rem;
  background-size: 5rem;

}

.container__questions h2 {
  font-family: var(--ff-clash-semibold);
  font-size: var(--font-size-xl);
  margin-bottom: 1rem;
}

.container__questions {
  max-width: 90%;
  margin: 0 auto;
  margin-bottom: 10rem;
}

.questions__container {
  display: flex;
  flex-direction: column;
  gap: .3rem;
  margin-top: 1rem;
}

.questions__container p {
  background-color: var(--color-white);
  padding: .6rem 2rem;
  color: var(--color-black);
  border-radius: var(--border-radius);
  background-image: url(../img/dropdown-arrow.svg);
  background-repeat: no-repeat;
  background-position: 95%;
  max-width: 60%;
  cursor: pointer;
}

.container__cta--participation{
  max-width: 70%;
  margin: 0 0 10rem auto;
  display:flex;
  gap: 2rem;
  align-items: center;
}

.container__cta--participation h2 {
  font-family: var(--ff-clash-semibold);
  font-size: var(--font-size-xl);
  margin-bottom: 1rem;
}

.container__cta--participation span {
  font-family: var(--ff-clash-medium);
}

.container__cta--participation p {
  margin-bottom: 1rem;
}

.cta--card{
  display:flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  background-image: url(../img/cardbackground.svg);
  color: var(--color-black);
  padding: 4rem 3rem;
  max-width: 55%;
  border-radius: var(--border-radius);
}

.cta--card p{
  font-weight: 400;
}


.btn--form{

  max-width: 15rem;
  padding: 1rem 2rem;
  background-color: var(--color-black);
  color: var(--color-white);
}

.btn--form:hover{
  background-color: transparent;
  color: var(--color-black);
}