<section class="container__carousel" data-carousel {% if pageDots|default(1) %}data-carousel-dots{% endif %}>
  <div class="carousel__header">
    <h2 class="carousel__title">Carousel Testing</h2>
    <nav class="carousel__nav">
      <button class="carousel__nav--item" data-carousel-prev disabled>
        back{#    <svg><!--  --></svg> #}
      </button>

      <button class="carousel__nav--item" data-carousel-next>
       nex{#  <svg><!--  --></svg> #}
      </button>
    </nav>
  </div>

  <div class="carousel__items" data-carousel-items="{{ groupCells|default(1) }}">
   {% block content %}
    {% for film in films %}
      {%  include "_/components/film-card.twig"with { film: film } %}
    {% endfor %}
  {% endblock %}
  </div>
</section>