
 
	</div class="countdown">
		<p class="countdown__days"><span class="c__days white"></span><br>Days</p>
		<p class="c__colon">:</p>
		<p class="countdown__hrs"><span class="c__hrs white"></span><br>Hours</p>
		<p class="c__colon">:</p>
		<p class="countdown__min"><span class="c__min white"></span><br>Minutes</p>
		<p class="c__colon">:</p>
		<p class="countdown__sec" ><span class="c__sec white"></span><br>Seconds</p>
	</div>
