
 
	</div class="countdown">
		<p><span class="countdown__days white"></span><br>Days</p>
		<p>:</p>
		<p><span class="countdown__hrs white"></span><br>Hours</p>
		<p>:</p>
		<p><span class="countdown__min white"></span><br>Minutes</p>
		<p>:</p>
		<p><span class="countdown__sec white"></span><br>Seconds</p>
	</div>
