{% extends "_/layouts/base" %}

{% block content %}
  <a href="{{ url('') }}" class="back-button">Back</a>
	<h1>detailpage Film Archive</h1>
	<p>
		{# {{entry.paragraph}} #}
    lorem ipsum
	</p>
{% endblock %}
