{% extends "_/layouts/base" %}


{% block content %}
  <a href="/films" class="back-button">Back</a>
	<h1>detailpage Film Archive</h1>
	{% set asset = entry.image.one() %}
  {% if asset %}
    <img class="card__image" src="{{ asset.getUrl({ width: 452, height: 302 }) }}" alt="{{ entry.title }}"/>
  {% endif %}
	<h2>{{entry.title}}</h2>
	<p>{{entry.paragraph}}</p>
{% endblock %}
