{% extends "_/layouts/base" %}


{% block content %}
	<h1>Film Archive</h1>
	<section>
		{% include "_/components/film-card.twig" with { limit: 6, imageWidth: 452, imageHeight: 302 } %}
	</section>
{% endblock %}
